.horizontalLineWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

.horizontalLineBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

.verticalLineWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

.verticalLineBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

.diagonalLineLeftWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;  
}

.diagonalLineLeftBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

.diagonalLineRightWhite {
    stroke: #F1EBD5;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

.diagonalLineRightBrown {
    stroke: #665757;
    stroke-width: 10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: css 5s linear forwards;
    width: 1000px;
}

@keyframes css {
    to {
      stroke-dashoffset: 0;
    }
  }
  