.backgroundBox {
    position: relative;
    height: 600px;
    background-image: url('../../../Image/background1.png');
    background-size: 100%;
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
    border: 7px solid rgb(13, 48, 42);
}

@media only screen and (max-device-width : 1024px) {
    .backgroundBox {
        position: relative;
        height: 537px;
        background-image: url('../../../Image/background1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;
        border: 7px solid rgb(13, 48, 42);
    }
}

@media only screen and (max-width: 2600px) and (min-width: 1440px) {
    .backgroundBox {
        position: relative;
        height: 900px;
        background-image: url('../../../Image/background1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        background-attachment: fixed;
        overflow: hidden;
        border: 7px solid rgb(13, 48, 42);
    }
}
